<ion-header class="ion-no-border">
    <ion-toolbar class="tool" color="dark">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="arrow-back" size="large" style="color: #009432;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Transaction History
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="dark">
    <ion-card *ngFor="let notification of notifications" class="ion-padding custom-card" color="dark">
        <ion-card-content>
          <div>
            <ion-row>
              <ion-col class="co1">
                <p class="label">{{ notification.label }}:</p>
                <p class="date">{{ notification.date }}</p>
              </ion-col>
            </ion-row>
          </div>
            <ion-row >
              <ion-col class="left">
              <p class="value">{{ notification.value}}</p>     
              <p class="time">{{ notification.time }}</p>
              </ion-col>
         </ion-row>
         </ion-card-content>
    </ion-card>
  </ion-content>
  